/*
    Holder Info
*/
@screen sm-max{
    .propd__colinfo{
        margin-top: 35px;
    }
}
@screen lg{
    .propd__colimg{
        margin-top: 7px;
    }
}
@screen only-lg{
    .propd__colimg{
        margin-top: 6px;
    }
}
/*
    Label
*/
.propd__label{
    display: inline-flex;
    background-color: var(--base-color3);
    color: #ffffff;
    margin-top: 10px;
}
@screen xl {
    .propd__label{
        font-size: 16px;
        height: 39px;
        padding: 2px 19px 2px;
    }
}
@screen xl-max {
    .propd__label{
        font-size: 14px;
        height: 30px;
        padding: 2px 10px 2px;
    }
}
/*
    Title
*/
.propd__title{
    font-family: var(--base-font2);
    color: var( --base-color);
    font-weight: 800;
}
/*
    Rating
*/
.propd__rating{
    margin-top: 23px;
}
/*
    Price
*/
.propd__price{
    font-family: var(--base-font2);
    color: var( --base-color);
    font-weight: 800;
    font-size: 29px;
    line-height: 1.2;
}
@screen lg{
    .propd__title{
        font-size: 42px;
        line-height: 55px;
        margin-top: 22px;
    }
}
@screen only-lg{
    .propd__title{
        font-size: 32px;
        line-height: 45px;
        margin-top: 24px;
    }
}
@screen md{
    .propd__price{
        margin-top: 31px;
    }
    .propd__indent_top{
        margin-top: 25px;
    }
}
@screen md-max{
    .propd__price{
        margin-top: 26px;
    }
    .propd__indent_top{
        margin-top: 20px;
    }
    .propd__title{
        font-size: 29px;
        line-height: 36px;
        margin-top: 24px;
    }
}
